@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    PO Box 9519<br />
    Seabeck, WA 98380-9519<br />
    <abbr title="Phone">P:</abbr>
    436.882.8080
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:NoReply@lonelymountain.net">Support@example.com</a><br />
</address>